/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media(max-width:1024px){
    .nav-li{
     font-size: 20px;
     margin-top: 10px;
    }
    .h2{
     margin-right: 400px;
    }
    .text{
     left: 42%;
     width: 200px;
    }
    .about-us-div{
     padding-left: 20px;
     padding-right: 20px;
    }
    .slider-wrapper{
     margin: 0 auto;
     }
     .slide h3{
         font-size: 20px;
     }
    .h2{
     position: absolute;
     left: 42%;
     top: 20%;
    }
    .map{
     padding-left: 10px;
     height: 80%;
     }
     .contact-div{
     padding-right: 80px;
     margin-left: 10px;
     }
     .our-customers{
         margin-bottom: 80px;
         margin-top: 20px;
     }
     #ul-list {
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
     }
     .title{
         font-size: 15px;
     }
     .navigation{
        display: none;
    }
    .burger-menu{
        display: block;
        top: 40%;
        right: 5%;
        font-size: 50px;
    }
    .ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
 }   


 @media(max-width:863px){
     .navigation{
         display: none;
     }
     .burger-menu{
         display: block;
         top: 40%;
         right: 5%;
         font-size: 50px;
     }
     .h3{
         font-size: 20px;
     }
     .nav-li{
         font-size: 20px;
     }
     .footer-bg1{
         margin-right: 30px;
     }
     .logo-div1{
         margin-right: 50px;
     }
     .about-us-div{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         padding-left: 10px;
         padding-right: 10px;
     }
     .about-us-img{
         width: 100%;
         margin-top: 50px;
         -o-object-fit: contain;
            object-fit: contain;
     }
     .h2{
         position: absolute;
         left:26%;
         top: 10%;
         font-size: 20px;
     }
     .text{
         left:26%;
         width: 300px;
         top: 43%;
     }
     .contact-section-div{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack:center;
             -ms-flex-pack:center;
                 justify-content:center;
         width: 100%;
     }
     .map{
         padding-top: 20px;
     }
     .contact-div{
         padding-bottom: 100px;
         
     }
     .registration-form{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         width: 80%;
     }
     .img-div{
         margin-top: 5px;
     }
     .slider-wrapper{
         margin: 0 auto;
         }
     .slide h3{
         font-size: 20px;
     }
     #ul-list {
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         width: 100%;
     }
     #loadNext {
         margin-left: 100px;
         font-size: 20px;
     }
     #loadPrev{
         font-size: 20px; 
     }
     .our-customers-div{
        padding-left: 100px;
     }
     .contact-div{
         padding-top: 50px;
     }
     .footer-social-icons1{
         margin-top: 50px;
     }
     .title {
         right: 80px;
         font-size: 30px;
         width: 250px;
     }
     .title{
         font-size: 15px;
     }
     .slide-ana div{
         width:100%;
         height: 400px;
     }
     
 }

 @media(max-width:733px){
    .footer-bg{
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
    
    }
 }
 @media(max-width:606px){
    .slide h3{
        font-size: 18px;
    }
    .map{
        width: 400px;
    }
    .contact-div{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        width: 80%;
    }
    .slide-ana-div{
       height: 350px;
    }

 }
 @media(max-width:605px){
     .logo-div{
         font-size: 20px;
     }
     .logo{
         font-size: 20px;
     }
     .burger-menu{
         width: 40px;
         height: 40px;
     }
     .logo-div1{
         padding-left: 20px;
         font-size: 20px;
     }
     .footer-bg1{
         /* margin-right: 40px; */
         padding-right: 50px;
         margin-top: 30px;
     }
     .logo-div1{
         margin-right: 20px;
     }
     .footer-bg{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
     }
     .about-us-div{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         padding-left: 10px;
         padding-right: 10px;
     }
     .about-us-img{
         width: 100%;
         margin-top: 50px;
         -o-object-fit: contain;
            object-fit: contain;
     }
     .h2{
         position: absolute;
         left:16%;
         top: 5%;
         font-size: 20px;
     }
     .text{
         left:14%;
         width: 300px;
         top: 38%;
     }
     .contact-section-div{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack:center;
             -ms-flex-pack:center;
                 justify-content:center;
         width: 100%;
     }
     .map{
         padding-top: 20px;
     }
     .contact-div{
         padding-bottom: 100px;
         
     }
     .form-heading{
         font-size: 20px;
     }
     .input {
         font-size: 15px;
     }
     .send-button {
         font-size: 12px;
     }
     .slider-wrapper{
         margin: 0 auto;
         }
     .slide h3{
         font-size: 20px;
         width: 20px;
     }
     #ul-list {
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
     }
     #loadNext {
         margin-left: 30px;
         font-size: 18px;
     }
     #loadPrev{
         font-size: 18px; 
     }
     .list1{
         font-size: 15px;
     }
     .contact-div{
         padding-top: 50px;
     }
     .footer-social-icons1{
         margin-top: 50px;
     }
     .title{
         font-size: 10px;
     }
     .slide-ana div{
         width:100%;
         height: 300px;
     }
     
     #prev{
        top: 40%;
     }
     #next{
        top: 40%;
     }
   
     
 
 @media(max-width:320px){}
     .logo-div{
         font-size: 15px;
         left: 2px;
     }
     .logo{
         width: 40px;
         height: 40px;
     }
     .burger-menu{
         width: 30px;
         height: 30px;
     }
     .header-wrapper{
         padding-left: 10px;
     
     }
     .nav-li{
         font-size: 18px;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
     }
     .navigation{
         padding-left: 25px;
         padding-right: 25px;
     }
     .footer-bg{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
     }
     .footer-bg1{
         padding-left: 50px;
     }
     .logo-div1{
         font-size: 15px;
         left: 2px;
     }
     .h3{
         text-align: center;
         font-size: 15px;
     }
     .about-us-div{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         padding-left: 10px;
         padding-right: 10px;
     }
     .about-us-img{
         width: 100%;
         margin-top: 5px;
         -o-object-fit: contain;
            object-fit: contain;
     }
     .h2{
         position: absolute;
         left:10%;
         top: 10%;
         font-size: 15px;
         padding-left: 15px;
     }
     .text{
         left:10%;
         width: 250px;
         top: 45%;
         font-size: 15px;
     }
     .nav-li1{
         font-size: 15px;
     }
     .social-icons{
         font-size: 25px;
     }
     .registration-form{
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         width: 80%;
     }
     .input {
         max-width: 400px;
         width: 100%;
         height: 30px;
     }
     .send-button {
         max-width: 400px;
         width: 100%;
         height: 30px;
     }
     .img-div{
         margin-top: 0px;
         margin: 0 auto;
     
     }
     .form-heading{
         font-size: 20px;
     }
     .input-check{
         font-size: 15px;
     }
     .form{
         margin-left: 50px;
         margin-bottom: 25px;
         margin: 0 auto;
     }
     .image{
         height: 340px;
     }
     .slider-wrapper{
         margin: 0 auto;
         }
     .slide h3{
         font-size: 12px;
     }
     .footer-social-icons1{
         margin-top: 20px;
     }
     .title{
         font-size: 15px;
     }
     .slide-ana div{
         width:100%;
         height: 280px;
         margin-bottom: 2px;
     }
     
     
 }