/* header */
.logo{
    width: 40px;
    height: 40px;
    color: #F9E7E7;  
}
.logo-h{
    font-size: 25px;
}
.logo-div{
    color: #F9E7E7;
    font-size: 25px;
    font-family: 'ALK Life';
    font-weight: 900;
}
.header-wrapper{
    max-width: 1600px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 80px;
    margin-bottom: 120px;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    background-color: #E7D3DD;
}

.ul{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.nav-li{
    margin-right: 20px;
    color: #F9E7E7;
    font-family: 'ALK Life';
    font-size: 20px;
    font-weight: 800;
}
.fa-solid{
    margin-left: 20px;
    color:  #F9E7E7;
    font-size: 20px;
    font-weight: 800;
}
.burger-menu{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
}
.line {
    width: 80%;
    height: 3px;
    background-color:#F9E7E7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s linear;
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}
.activeBar .line1 {
    top:50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.activeBar .line3{
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.activeBar .line2{
   display: none;
}
.navigation.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-a {
    position: relative;
    text-decoration: none;
    transition: all 0.5s linear;
    margin-bottom: 10px;
    color: #F9E7E7; ;
}
.nav-a::after {
    content: ' ';
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width:0%;
    background-color: white;
    transition: all 0.5s linear;
}

a:hover::after {
    width: 85%;
}
/* .search-form{
    margin-top: 20px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.search{
    display: none;
    color: white
}
.search.input{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
} */



/* footer */
.footer{
    max-width: 1920px;
    background-color:#E7D3DD;
    bottom:0px;
    margin-top: 20px;
    }
.logo-div1{
    font-size: 20px;
    font-family: 'ALK Life';
    font-weight: 900;
    color: white;
    padding-left: 100px;
    margin-top: 30px ;
    margin-right: 200px;
}
.nav-li1{
    font-family: 'ALK Life';
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}
.footer-bg{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.h3{
    margin-top: 40px;
    font-family: 'ALK Life';
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
    padding-left: 0px;
}
.contact-icon{
    color: white;
    padding-left: 0px;
    
}
.footer-bg1{
    margin-right: 10px;
}

.footer-bg2{
    margin-right: 50px;
}
.list{
    margin-bottom: 20px;
}
.contact-a{
    font-family: 'ALK Life';
    color: white;
    margin-left: 20px;
    font-weight: 400;
}
.social-icons{
    display: inline-block;
    margin-top: 20px;
    font-size: 35px;
    margin-right: 30px;
}
.icons{
    color: white;
}

/* slider section */
.slider-section{
    margin-top: 85px;
    margin-bottom: 30px;
    
}
.slider-wrapper{
    margin: 0 220px;
}
.slide h3{
    position: absolute;
    top: 50%;
    left: 66%;
    font-size: 25px;
    width: 200px;
    font-weight: 800;
    font-family: 'ALK Life';
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;

}
.slide h3:hover{
    color:#BA7280;
}
.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider-wrapper {
    position: relative;
}
.arrow-right {
    right: 30px;
}
.fa-arrow-right{
    color:#BA7280;
    font-size: 30px;
}
.arrow-left {
    left: 30px;
}
.fa-arrow-left{
    color:#BA7280;
    font-size: 30px;
}

.dotParent {
    display: flex;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.dot {
    width: 20px;
    height: 20px;
    background-color:#BA7280;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;

}
.activeDot {
    border:2px solid brown ;
}
.img-slider {
    width: 100%;
    height: 800px;
    object-fit:cover;
}

/* about us */
.about-us-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-us-div{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
}
.about-us-img{
    height: 440px;
    margin-top: 50px;
}
.h2{
    color:brown;
    font-family: 'ALK Life';
    font-size: 30px;
    font-weight: 900;
    margin-top: 55px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.h2:hover{
 color: #D9A496;
}

.text{
    position: absolute;
    font-family: 'ALK Life';
    font-size: 18px;
    color: brown;
    font-weight: 600;
    max-width: 300px;
    height: 500px;
    top: 60%;
    left: 80%;
    transition: all 0.3s linear;
    cursor: pointer;

}
.text:hover{
    color:#D9A496;
}


/* contact section */
.map{
    max-width: 600px;
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
}
.list1{
    font-size: 20px;
    font-weight: 600;
    font-family: 'ALK Life';
    color: black;
}
.contact-section-div{
    /* background-color: #D9A496; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1600px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
}
.contact-div{
    padding-right: 20px;
    padding-top: 200px;
    margin-left:50px;
}
.contact-h{
    color: #BA7280;
    padding-left: 20px;
}
.contact-a1{
    color: #BA7280;
    font-weight: 800;
}
.contact-icon1{
    color: #BA7280;
}
.footer-social-icons1{
    margin-top: 100px;
    color: #BA7280;
    font-size: 20px;
}

/* registration form */

.registration-form{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.form-heading{
    color: #D9A496; ;
    font-size: 30px;
    font-weight: 600;
    font-family: 'ALK Life';
    margin-top: 80px;
    margin-bottom: 30px;
    cursor: pointer;
}
.form-heading:hover{
    color:chocolate;
}
.img-div{
    margin-top: 80px;
}
.image{
    max-width: 600px;
    width: 100%;
    height: 500px;
}
.input {
    max-width: 600px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border-color: #D9A496;
    color: #F9E7E7;
    font-size: 18px;
    font-family: 'ALK Life';
    cursor: pointer;
    transition: all 0.2s linear;

}
.input:focus {
    outline: none;
}
.input:hover{
    height: 60px;
}
.input-check{
    font-size: 15px;
    font-family: 'ALK Life';
    color: #D9A496;
    cursor: pointer;
}
.send-button {
    max-width: 600px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #D9A496;
    font-size: 20px;
    color: white;
    font-family: 'ALK Life';
    font-weight: bold;
    transition: 0.5s linear;
    cursor: pointer;
    transition: all 0.2s linear;
}
.send-button:hover{
    height: 60px;
}
.error-text {
    color: red;
    font-family: 'ALK Life';
    display: block;
    margin-bottom: 20px;
}

/* our customer section */
#ul-list{
    display: flex;
    flex-wrap: wrap;
    color:#E7D3DD;
    font-size: 15px;
    font-family: 'ALK Life';
    font-weight: 600;
}
.our-customers{
    margin-top: 280px;
}
.our-customer-div{
    max-width: 1600px;
    height: 100%;
    padding: 0 80px 0 250px;
    margin-bottom: 50px;
}
.image-block{
    max-width: 200px;
    height: 150px;
    padding-top: 20px;
    margin-right: 120px;
    margin-bottom: 5px;
    margin-top: 80px;
    
}
#loadPrev{
    margin-top: 20px;
    border: none;
    font-size: 25px;
    color: #BA7280;
    font-family: 'ALK Life';
    transition: all 0.3s linear;
    cursor: pointer;
}
#loadPrev:hover{
    background-color: #D9A496;
    /* width: 150px; */
}
#loadNext{
    margin-top: 20px;
    border: none;
    font-size: 25px;
    color: #BA7280;
    font-family: 'ALK Life';
    margin-left: 480px;
    transition: all 0.3s linear;
    cursor: pointer;
}
#loadNext:hover{
    background-color: #D9A496;
}



/* gallery section */
.slider{
    width:100%;
    height:600px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    margin:0 auto;
}
.slide-ana{
    height: 100%;
}
.slide-ana div{
    width:100%;
    height: 500px;
    position: absolute;
    transition: all 1s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.slider span{
    height: 50px;
    position: absolute;
    top:50%;
    margin:-25px 0 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    color:#fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
    /* border-radius: 20px; */
}
.slider span:hover{
    background-color: #E7D3DD;
}
.title{
    top:80% !important;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    padding: 0 20px;
    right: 2%;
    transition: all 0.2s linear;
}
.slide-ana{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
#prev{
    left:0;
    border-radius: 0 10px 10px 0;
    transition: all 0.3s linear;
}
#next{
    right:0;
    border-radius:10px 0 0 10px;
    transition: all 0.3s linear;
}
#prev svg,#next svg{
    width:100%;
    fill: #fff;
}
#prev:hover,
#next:hover{
    background-color:#E7D3DD;
}